target/

*.class
*.tmp
*.bak
~$*

.idea

# Windows image file caches
Thumbs.db

# Windows folder config file
Desktop.ini


# Mac junk
.DS_Store


# files created from running app directly
modman-log.txt
modman.cfg

# folders you need if you want to run app directly
backup/
mods/
