target/

*.class
*.tmp
*.bak
~$*


# Windows image file caches
Thumbs.db

# Windows folder config file
Desktop.ini


# Mac junk
.DS_Store


# files created from running app directly
modman-log.txt
modman.cfg
